* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1.homepage {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    background-color: #f51231;
    padding: 3px;
    height: 60px;
    width: 400px;
    margin: 0 0;
    border: 2px solid black;
}

ul {
    width: 200px;
}

.index {
    font-size: 18px;
    font-weight: 200;
    list-style-type: none;
    padding: 0;
}

.index .lasagna-link,
.index .mac-link,
.index .ranch-link {
    border: 1px solid black;
    width: 200px;
    margin: 0 auto 6px 0;
    text-align: center;
    padding: 6px;
    background-color: #F6D8AE;
}

img.lasagna,
img.mac-and-cheese,
img.ranch-tacos {
    height: auto;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.summary,
.ingredients,
.preparation {
    font-size: 18px;
    font-weight: 200;
    margin: 10px;
    text-align: justify;
}

body h2 {
    font-size: 30px;
    font-weight: 600;
    margin: 10px;
    width: 200px;
    background-color: #f51231;
    padding: 4px;
    text-align: center;
}

.title-lasagna,
.title-mac,
.title-ranch {
    font-size: 36px;
    padding: 8px;
    margin: 0 auto 16px;
    text-align: center;
}

ul.ingredients {
    width: 280px;
    padding-left: 30px;
}

ol.preparation {
    width: 608px;
    padding-left: 30px;
}

ul li,
ol li {
    margin-bottom: 6px;
}